@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
  --blue: #26293a;
  --light-blue: #2f3349;
  --black: #242424;
  --white: #bbbdcc;
  --gray: #bbbbbb;
  --grayer: #bbbbbbaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: var(--light-blue);
  color: var(--white);
  font-family: "Poppins", serif;
}

#logo {
  width: 160px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: sub;
}

.container {
  max-width: 800px;
  margin: auto;
  background: var(--blue);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.activity {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #dddddd11;
}

.activity div.image {
  display: flex;
  align-items: center;
  /*show item at the top*/
  align-self: flex-start;
}

.activity img {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.activity .info {
  flex: 1;
  align-self: self-start;
  padding-top: 5px;
}

.activity h3 {
  margin: 0;
  font-size: 18px;
}

.activity p {
  margin: 5px 0;
  color: var(--gray);
  font-size: 16px;
}

summary{
  cursor: pointer;  
  color: var(--grayer);
  font-size: 14px;
  font-style: italic;
}

details li {
  margin-top: 7px;
  margin-left: 13px;
  font-size: 14px;
  color: var(--grayer);
}

details ul {
  margin-left: 7px;
}

details ul li ul li {
  margin-top: 3px;
}

b {
  color: var(--gray);
  font-weight: 500;
}

.palette {
  display: inline-block;
}

.color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 2px;
  border-radius: 100%;
  vertical-align: text-bottom;
}

.color.selected {
  border: 2px solid var(--white);
}

.button {
  display: inline-block;
  padding: 3px 5px;
  background: var(--light-blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--light-blue);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--light-blue);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--blue);
}
